

.project-card {
    width: 100%;
}

.project-card-in {
    width: 100%;
    display: flex;
}

.project-card-one {
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.project-card-one h1 {
    font-size: 6rem;
    font-family: "Source Code Pro", serif;
}

.project-card-two {
    width: 80%;
    border: 1px solid black;
    background-color: rgb(36, 39, 40);
    border-radius: 10px;
}

.project-card-two-in {
    width: 100%;
}

.project-tab-one {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.project-tab-one-one {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.project-close {
    width: 12px;
    height: 12px;
    background-color: rgb(232, 66, 62);
    border-radius: 50%;
}

.project-minimize {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 215, 0);
    border-radius: 50%;
}

.project-maximize {
    width: 12px;
    height: 12px;
    background-color: rgb(34, 199, 57);
    border-radius: 50%;
}

.project-tab-one-two {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-tab-one-two p {
    width: 60%;
    text-align: center;
    font-size: 1rem;
    padding: .2rem;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    color: black;
    font-weight: 500;
}


.project-tab-two {
    width: 100%;
}

.project-tab-two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-tab-three {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-tab-three p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(214, 214, 214);
}

.project-tab-three h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.project-tab-four {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.project-tab-four p {
    font-size: 1rem;
    color: rgb(214, 214, 214);
}

.project-tab-five {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-tab-five-in {
    width: 40%;
    padding: 1rem;
    background-color: rgb(31, 31, 39);
    border: 1px solid rgb(81, 81, 81);
    border-radius: 10px;
}

.project-tab-five p {
    font-size: 1rem;
    color: rgb(214, 214, 214);
}

.project-tab-five h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.project-tab-six {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-tab-six-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.tech-stack {
    padding: .2rem 1rem;
    background-color: rgb(31, 31, 39);
    border: 1px solid rgb(81, 81, 81);
    border-radius: 10px;
}

.tech-stack p {
    font-size: 1rem;
    color: white;
}

.project-tab-seven {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-tab-seven-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.project-tab-seven-in a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .5rem 1rem;
    background-color: rgb(31, 31, 39);
    border: 1px solid rgb(81, 81, 81);
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}