.SkillsComponent {
    width: 100%;
    padding: 2rem 0rem;
}

.SkillsComponent-in {
    width: 90%;
    margin: 0 auto;    
}

.skills-one {
    width: 100%;
    padding: 2rem 0rem;
}

.skills-one h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}

.skills-one h1 span {
    color: blue;
}

.skills-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.skills-stack {
    width: 25%;
    padding: 2rem;
    border: 1px solid rgb(231, 231, 231);
    display: flex;
    align-content: center;
    justify-content: center;
}

.skills-stack:not(:nth-child(4n)) {
    border-right: none;  
}

.skills-stack:not(:nth-last-child(-n+4)) {
    border-bottom: none;  
}

.skills-stack svg {
    font-size: 4rem;
}

.skills-stack:hover {
    background-color: rgb(231, 231, 231);
}

.skill-icon-react {
    color: rgb(0, 145, 255);
}

.skill-icon-node {
    color: green;
}

.skill-icon-docker {
    color: rgb(0, 145, 255);
}

.skill-icon-golang {
    color: rgb(0, 145, 255);
}

.skill-icon-java {
    color: rgb(239, 96, 29);
}

.skill-icon-javascript {
    color: rgb(255, 238, 0);
}

.skill-icon-typescript {
    color: rgb(0, 122, 204);
}

.skill-icon-html {
    color: rgb(239, 96, 29);
}

.skill-icon-css {
    color: rgb(0, 122, 204);
}

.skill-icon-kubernetes {
    color: rgb(0, 145, 255);
}

.skill-icon-git {
    color: rgb(239, 96, 29);
}