@import "tailwindcss";

:root {
  --background: white;
  --alternateBackground: black;
  --text: black;
  --alternateText: white;
  --subText: rgb(125, 125, 125);
  --border: 1px solid rgb(224, 223, 223);
}

.dark {
  --background: black;
  --alternateBackground: white;
  --text: white;
  --alternateText: black;
  --subText: rgb(125, 125, 125);
  --border: 1px solid rgb(80, 80, 80);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  transition: background-color 0.2s, color 0.2s;
}