.ProjectsComponent {
    width: 100%;
}

.ProjectsComponent-in {
    width: 100%;
    padding: 2rem 0rem;
}

.projects-one {
    width: 100%;
}

.projects-one h1 {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

.projects-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0rem;
}

.projectCard {
    width: 100%;
}

.projectCard-in {
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.project-card-one {
    width: 100%;
}

.project-card-one a {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.project-card-one a svg {
    color: black;
}

.project-card-one a:hover {
    color: black;
    text-decoration: underline;
}

.project-card-two {
    width: 100%;
}

.project-card-two p {
    font-size: .8rem;
    color: rgb(125, 125, 125);
    ;
}

.project-card-three {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    padding: 1rem 0rem 0rem 0rem;
}

.Project-stack {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: .2rem .5rem;
    border-radius: 5px;
}

.Project-stack p {
    font-size: .8rem;
    color: black;
}

.project-card-four {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    padding: 1rem 0rem 0rem 0rem;
}

.project-card-four a {
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: .2rem .5rem;
    border-radius: 5px;
    text-decoration: none;
}

@media screen and (max-width: 600px) {

    .project-card-one a p {
        max-width: 90%;
    }

    .project-card-one a svg {
        font-size: 1rem;
    }
}