.BlogsComponent {
    width: 100%;
}

.BlogsComponent-in {
    width: 100%;
    padding: 2rem 0rem;
}

.blogs-one {
    width: 100%;
}

.blogs-one h1 {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

.blogs-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0rem;
}

.blogCard {
    width: 100%;
}

.blogCard-in {
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 1px solid transparent;
}

.blog-card-one {
    font-size: .8rem;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.blog-card-two {
    width: 100%;
}

.blog-card-two a {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.blog-card-two a:hover {
    color: black;
    text-decoration: underline;
}

.blog-card-two a svg {
    color: black;
    font-size: 1rem;
}

.blog-card-three {
    width: 100%;
    padding: 1rem 0rem 0rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.blog-stack {
    width: fit-content;
    background-color: white;
    border: 1px solid black;
    padding: .2rem .5rem;
    border-radius: 5px
}

.blog-stack p {
    font-size: .8rem;
    color: black;
}