

.ProfileComponent {
    width: 100%;
    padding: 4rem 0rem 0rem 0rem;
    height: 100vh;
}

.ProfileComponent-in {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-one {
    width: 100%;
    text-align: center;
}

.profile-one h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: black;
}

.profile-two {
    width: 100%;
    text-align: center;
}

.profile-two h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(8, 8, 255);
}

.profile-two h1 span {
    color: black;
}

.profile-three {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.profile-three-one h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: black;
}

.profile-three-two {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(208, 204, 204);
    border-radius: 20px;
    padding: .5rem 1rem;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #00c853;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 0 10px rgba(0, 200, 83, 0.5);
}

.profile-three-two p {
    font-size: .8rem;
    font-weight: 600;
    color: black;
}

.profile-four {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0rem 8rem 0rem;
}

.profile-four-one a{
    text-decoration: none;
    background-color: blue;
    border-radius: 40px;
    font-size: 1.2rem;
    padding: .5rem 1.2rem;
    color: white;
}

.profile-four-one a:hover {
    background-color: black;
    color: white;
}

.profile-four-two p {
    text-decoration: none;
    background-color: white;
    border-radius: 40px;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.profile-five {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: .5rem;
}

.profile-five a {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    text-decoration: underline;
}

.profile-five svg {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.profile-five a:hover {
    color: blue;
}