

.FooterComponent {
    width: 100%;
}

.FooterComponent-in {
    width: 100%;
}

.FooterComponent-in p {
    font-size: 1rem;
    color: rgb(150, 150, 150);
}

@media screen and (max-width: 600px) {
    .FooterComponent-in p {
        font-size: .8rem;
    }
}